<!DOCTYPE html>
<html>
  <head>
    <title>ClientApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= link_to "Home", "/clients" %>
  	<%= link_to "New Client", "/clients/new" %>
    <%= yield %>
  </body>
</html>
